.test {
    width: auto;
    height: 36px;
    background-color: #AA3131;
    color: white;
    border: 3px solid white;
    font-size: 15px;
    position: relative;
    z-index: 10000;
}

.test::after {
    content: url('../img/tooltip-point.png');
    position: absolute;
    bottom: -15px;
    left: 30%;
    display: block;
    width: 70px;
    height: 21px;
    background-repeat: no-repeat;
}

.content {
    position: absolute;
    top: 10px;
}

.ID {
    margin-left: 15px;
}

.content-infowindow {
    margin-left: 5px;
}