

<sebm-google-map (mapClick)="mapClicked($event)" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="maptype" [mapTypeControlOptions]="mapTypeControlOptions">
    <sebm-google-image-map-type [mapLayerId]="'Beeksebergen'" [options]=imageMapOptions>
        <sebm-google-map-overlay-view *ngFor="let location of locations" [latitude]="location.lat" [longitude]="location.lng" [objectId]="location.id" (markerClick)="updateDiv(location, infowindow)">
            <sebm-google-map-info-window #infowindow  [disableAutoPan]="true">{{ location.id }} {{ location.content }}</sebm-google-map-info-window>
        </sebm-google-map-overlay-view>
        <!--<sebm-google-map-marker *ngFor="let location of locations" [latitude]="location.lat" [longitude]="location.lng" [label]="location.id" (markerClick)="updateDiv(location, infowindow)">
            <sebm-google-map-info-window #infowindow  [disableAutoPan]="true">{{ location.id }} {{ location.content }}</sebm-google-map-info-window>
        </sebm-google-map-marker>-->
    </sebm-google-image-map-type>
</sebm-google-map>

<section *ngIf="isClicked" id="ethiopian-desert">
    <div *ngIf="selectedLocation" class="result-number">
        {{ selectedLocation.id }}
    </div>
</section>

<div *ngIf="isClicked" class="infoWindow">
    <p>{{ selectedLocation.id }} {{ selectedLocation.content }}</p>
</div>

<!--[iconUrl]="location.iconUrl"-->